.bodyContent
  %script{:type => "text/javascript",
        :src  => "http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"}
  %script{:type => "text/javascript",
        :src  => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

  :javascript
    CFInstall.check({
      mode: "overlay"
    });



  <!--[if !IE]> -->
  .bInstallTitle
    %h1 Timejust for Google Calendar
  #bInstallDetails
    %ol
      %li
        Click the green install button below.
      %li
        Google will ask you to authorize Timejust. Click Grant Access.
        %br
        %img{:id => 'authPopUp', :src => 'http://www.timejust.com/images/authPopUp.png', :alt => 'click grant access'}
      %li
        Google Calendar will open, and a pop-up will appear. Click yes.
        %br
        %img{:id => 'installPopUp', :src => 'http://www.timejust.com/images/installPopUp.png', :alt => 'click yes'}
      %li
        Finally a right pane should open up next to your calendar.
        %br
        %img{:id => 'rightPane', :src => 'http://www.timejust.com/images/rightPane.png', :alt => 'right pane Timejust'}
      %li
        If it does not open, click the small triangle to open the pane.
        %img{:id => 'triangle', :src => 'http://www.timejust.com/images/triangle.png', :alt => 'click on the triangle'}
    As you clic an event, timejust will offer to plan a trip.
    %br
    %br 
    If you have inadvertantly suppressed timejust... just reload <a href='http://beta.timejust.com'>beta.timejust.com</a>
    %br
    %br
    If Timejust does not work properly, or if you would like to chat, we are reachable at <a href='mailto:beta@timejust.com'>beta@timejust.com</a>
  .bInstallTitle
    %a{:href => oauth2_authorize_path}
      %img{:id => 'install-button', :src => 'http://www.timejust.com/images/InstallTJb.png', :alt => 'install timejust beta!'}
  <!-- <![endif]-->

  -#
    <!--[if !IE]> -->
    #bInstallTitle
      %a{:href => oauth2_authorize_path}
        %img{:id => 'install-button', :src => 'http://www.timejust.com/images/InstallTJb.png', :alt => 'install timejust beta!'}
      %h1   let your Google Calendar guide you<br>from your appointment to the next<br>around the world by car, in the Paris<br>Region for public transportation
    #bInstallDetails
      Google will ask you to install the Gadget in Google Calendar. It will appear on the ride side of the screen, next to the calendar view. Then click an event and start planning trips. More destinations coming soon.
      %a{:href => 'http://www.timejust.com/FAQ/index.php'}Questions: FAQ!
      \-
      %a{:href => 'mailto:beta@timejust.com'}Problems: mail us!
      -#linkFAQ
        = link_to "Questions: FAQ!", "http://www.timejust.com/FAQ/index.php"
        \-
        = link_to "Problems: mail us!", "mailto:beta@timejust.com"
    <!-- <![endif]-->  
    
  <!--[if IE]>
  %table{:id => "IETable"}
    %tr{:class => "instrHead"}
      %th
        %h3 Internet Explorer users
    %tr{:class => "instrHead"}
      %td
        %h4 
          = link_to "Install the Google Chrome Frame add-on", "http://tools.google.com/chromeframe"
    %tr{"class" => "instrContent"}
      %td Timejust Gadget needs the Google Chrome Frame add-on to work correctly on Internet Explorer
  <![endif]-->

= render partial: 'layouts/footer'