ul.alias_result_container, ul.google_result_container {
  display: block;
}
#travelNodesSelector {
  width: 100%;
}
#gadgetContent-canvas {
  height: 100%;
}
div {
  display: inline-block;
}
div.main {
  width: 100%;
}
div.top {
  height: 72px;
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: 2px solid #CCCCCC;
  display: inline-block;
}
div.left {
  float: left;
  height: 87%;  
  position: absolute;
  left: 0;
  width: 27em;
}
div.right {
  position: relative;
  left: 27em;
  margin-left: 0;
}
div.map_view {
  width: 100%;
  height: 100%;
}
div.left-top {
  top: 0px;
  display: inline-block;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
  left: 0;
  position: absolute;
}
div.left-middle {
  overflow-y: scroll;
  width: 100%;
  top: 5px;
  left: 0;
  bottom: 15px;
  position: absolute;
}
div.left-bottom {
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 7em;
}
div.star_symbol.on {
  display: inline-block;
  background: url(/icons/hpimgs28.png) -19px 0px no-repeat;
  color: transparent;
  height: 18px;
  line-height: 15px;
  overflow: hidden;
  width: 19px;
}
div.star_symbol.off {
  display: inline-block;
  background: url(/icons/hpimgs28.png) 0px 0px no-repeat;
  color: transparent;
  height: 18px;
  line-height: 15px;
  overflow: hidden;
  width: 19px;  
}
div.alias_symbol.on {
  display: inline-block;
  font-weight: bolder;
  font-size: 20px;
  margin-top: -2px;
  cursor: pointer;
}
div.alias_symbol.off {
  display: inline-block;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  font-size: 20px;
  margin-top: -2px;
  cursor: pointer;
}
div.alias_delete {
  display: inline-block;
  background: url(/icons/delete.png) 0px 0px no-repeat;
  color: transparent;
  height: 20px;
  overflow: hidden;
  width: 20px;
  cursor: pointer;
}
div.title {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #15C;
  vertical-align: top;
  margin-left: 10px;
}
div.marker_10 {
  display: inline-block;
  background: url(/icons/general_marker.png) 0px 0px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_0 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px 0px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_1 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -34px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_2 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -68px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_3 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -102px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_4 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -136px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_5 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -170px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_6 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -204px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_7 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -238px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_8 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -272px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_9 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -306px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.logo {
  display: inline-block; 
  width: 143px; 
  height: 59px;
  background-image:url(/icons/tj-logo.png);
  background-repeat: no-repeat;
  margin: 10px 0px 10px 2%;
}
div.address_container {
  margin-left: 10px;
  width: 86%;
}
#alias.address {
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  vertical-align: top;
}
#result.address {
  font-size: 16px;
  color: #15C;
  font-weight: bold;
  vertical-align: top;
  cursor: pointer;
}
div.marker_container {
  float: left;
}
#alias_marker.marker_container {
  margin-top: 5px;
}
#alias_input {
  margin-top: -2px;
}
div.city {
  display: block;
  margin-top: 5px;
}
div.address_block {
  display: block;
}
div.control_block {
  display: block;
  margin-left: 1px;
}
.pac-item {
  display: block;
  font: menu;
	font-size: 12px;
	line-height: 16px;
	padding: 0px;
	overflow: hidden;
	z-index: 99999;
}
#google_result.control_block {
  margin-top: 5px;
  cursor: pointer;
}
#alias_result.star_symbol {
  cursor: pointer;
}
div.save_as_alias {
  font-size: 13px;
  font-style: italic;
  color: #666;
  vertical-align: 1px;
  margin-top: 5px;
  float: left;  
}
div.results_block {
  margin: 20px 20px 20px 20px;
  display: block;
}
div.result_block {
  display: block;
  margin-bottom: 35px;
}
div.search_box {
  vertical-align: 36px;
  margin-left: 1%;
  display: inline-block;
}
div.search_button_content {
  display: inline-block;
  background: url(/icons/hpimgs28.png) -51px 0px no-repeat;
  color: transparent;
  height: 15px;
  line-height: 15px;
  margin-top: 6px;
  overflow: hidden;
  text-indent: 15px;
  width: 15px;
}
div.button-outer_block {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  height: 16px;
  overflow: visible;
  width: 16px;
}
div.google_result, div.freq_address, div.search_button {
  vertical-align: middle;
  display: inline-block; 
  border: 1px solid #3079ED;
  color: white;
  background: #4D90FE;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
  margin-right: 6px;
  margin-left: 6px;
  border-image: initial;  
  border-radius: 2px;  
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: none;
  padding: 0 8px;
  text-align: center;
}
div.freq_address, div.google_result {
  color: #333;
  background: #F5F5F5;
  border: 1px solid #CCCCCC;
  margin-top: 15px;
  margin-bottom: 15px;
}
div.google_result {
  margin-right: 0px;
  margin-left: 10%;
}
#maininput {
  background: white;
  border: 1px solid #D9D9D9;
  border-radius: 1px;
  border-top: 1px solid silver;
  height: 27px;
  padding: 0 0 0 8px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-image: initial;
  min-width: 384px;
  max-width: 50%;
  vertical-align: middle;
}
#left-middle .list-wrap { 
  padding: 2%;
  margin: 0 0 15px 0;
  width: 96%;
}
#left-middle ul { 
  list-style: none; 
}
#left-middle ul li a { 
  display: block; 
  border-bottom: 1px solid #666; 
  padding: 4px; 
  color: #666; 
}
#left-middle ul li a:hover { 
  background: #333; 
  color: white; 
}
#left-middle ul li:last-child a { 
  border: none; 
}
#left-middle .nav { 
  overflow: hidden; 
  width: 100%;
}
#left-middle .nav li { 
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #CCC;
  border-right-color: #CCC;
  border-left-color: #CCC;
  width: 48%;
  vertical-align: middle;
  float: left;
  margin: 0 1% 0 1%;
  font-size: 11px;
  font-weight: bold;
  height: 30px;
  line-height: 27px;
}
#left-middle .nav li.last { 
  margin-right: 0; 
}
#left-middle .nav li a { 
  display: block; 
  padding: 2px 5px 5px 5px;  
  background: #666; 
  color: white; 
  text-align: center; 
  text-decoration: none;
}
#left-middle li a.current,#left-middle li a.current:hover { 
  background-color: #ffffff; 
  color: black; 
}
#left-middle .nav li a:hover, #left-middle .nav li a:focus { 
  background: #999;
}
.hide { position: absolute; top: -9999px; left: -9999px; }