#travelNodesSelector {
  width: 100%;
}
#gadgetContent-canvas {
  height: 100%;
}
div {
  display: inline-block;
}
div.main {
  width: 100%;
}
div.top {
  height: 72px;
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: 2px solid #CCCCCC;
  display: inline-block;
}
div.left {
  float: left;
  width: 28%;
  display: inline;
}
div.right {
  display: inline;
  float: right;
  width: 72%;
}
div.map_view {
  width: 100%;
  height: 100%;
}
div.left-top {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #CCCCCC;
}
div.left-bottom {
  margin-top: 20px;
  text-align: center;
  display: block;
}
div.star_symbol.on {
  display: inline-block;
  background: url(/icons/hpimgs28.png) -18px 0px no-repeat;
  color: transparent;
  height: 18px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.star_symbol.off {
  display: inline-block;
  background: url(/icons/hpimgs28.png) -0px 0px no-repeat;
  color: transparent;
  height: 18px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.title {
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #15C;
  vertical-align: top;
  margin-left: 10px;
}
div.marker_0 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px 0px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_1 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -34px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_2 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -68px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_3 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -102px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_4 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -136px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.marker_5 {
  display: inline-block;
  background: url(/icons/red_markers.png) 0px -170px no-repeat;
  color: transparent;
  height: 32px;
  line-height: 15px;
  overflow: hidden;
  width: 20px;
}
div.logo {
  display: inline-block; 
  width: 143px; 
  height: 59px;
  background-image:url(/icons/tj-logo.png);
  background-repeat: no-repeat;
  margin: 10px 0px 10px 2%;
}
#alias.address {
  margin-top: 5px;
  font-size: 13px;
  font-weight: bold;
  vertical-align: top;
  margin-left: 10px;
}
#result.address {
  font-size: 16px;
  color: #15C;
  font-weight: bold;
  vertical-align: top;
  margin-left: 10px;
  cursor: pointer;
}
#alias_marker.marker_container {
  margin-top: 5px;
}
#alias_input {
}
div.city {
  display: block;
  margin-left: 33px;
  margin-top: -15px;
}
div.address_block {
  display: block;
}
div.control_block {
  display: block;
  margin-left: 1px;
}
#google_result.control_block {
  margin-top: 5px;
  cursor: pointer;
}
div.save_as_alias {
  font-size: 13px;
  font-style: italic;
  color: #666;
  vertical-align: 3px;
  margin-left: 9px;
}
div.results_block {
  margin: 20px 20px 20px 20px;
  display: block;
}
div.result_block {
  display: block;
  margin-bottom: 20px;
}
div.search_box {
  vertical-align: 36px;
  margin-left: 1%;
  display: inline-block;
}
div.search_button_content {
  display: inline-block;
  background: url(/icons/hpimgs28.png) -51px 0px no-repeat;
  color: transparent;
  height: 15px;
  line-height: 15px;
  margin-top: 6px;
  overflow: hidden;
  text-indent: 15px;
  width: 15px;
}
div.button-outer_block {
  position: relative;
  display: -moz-inline-box;
  display: inline-block;
  height: 16px;
  overflow: visible;
  width: 16px;
}
div.google_result, div.freq_address, div.search_button {
  vertical-align: middle;
  display: inline-block; 
  border: 1px solid #3079ED;
  color: white;
  background: #4D90FE;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
  margin-right: 6px;
  margin-left: 6px;
  border-image: initial;  
  border-radius: 2px;  
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  height: 27px;
  line-height: 27px;
  min-width: 54px;
  outline: none;
  padding: 0 8px;
  text-align: center;
}
div.freq_address, div.google_result {
  color: #333;
  background: #F5F5F5;
  border: 1px solid #CCCCCC;
  margin-top: 15px;
  margin-bottom: 15px;
}
div.google_result {
  margin-left: 20%;
}
#maininput {
  background: white;
  border: 1px solid #D9D9D9;
  border-radius: 1px;
  border-top: 1px solid silver;
  height: 27px;
  padding: 0 0 0 8px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-image: initial;
  min-width: 384px;
  max-width: 50%;
  vertical-align: middle;
}