/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
 */

body > header h1 { display: block; width: 200px; height: 262px; margin: 0 auto; text-indent: -3000px; background: url('/assets/timejust.png') 0 0 no-repeat; }
h2 { margin: 0 0 10px 0; padding: 0; list-style-type: none; text-align: center; font: normal 20px/25px 'Comic Sans MS'; }
ul { display: block; width: 700px; margin: 0 auto; padding: 0; }
ul li { margin: 0; padding: 0; list-style-type: none; font: normal 14px/20px 'Comic Sans MS'; }
ul li a { font: normal 14px/20px 'Comic Sans MS'; color: #8ab53e; }
ul li a:hover { text-decoration: none; }

p.hello { margin: 0 0 20px 0; font: normal 20px 'Comic Sans MS'; color: #000; text-align: center; }
