%footer
  %script{:src => "http://apis.google.com/js/plusone.js", :type => "text/javascript"}
  #fb-root
  :javascript
    (function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));    
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
    if(!d.getElementById(id)){js=d.createElement(s);
    js.id=id;
    js.src="//platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  © Timejust 2012 -
  %a{:href => "http://www.timejust.com/tos.php"} Terms of service
  \-
  %a{:href => "http://www.timejust.com/about.php"} About Us
  \-
  %a{:href => "http://www.scoop.it/t/ecalendars-the-next-travel-revolution", :target => "_blank"} Blog
  .g-plusone{"data-count" => "true", "data-href" => "http://www.timejust.com", "data-size" => "medium"}
  %a.twitter-follow-button{"data-show-count" => "true", "data-width" => "200px", :href => "https://twitter.com/Timejust"} Follow @Timejust
  .fb-like{"data-href" => "http://www.facebook.com/Timejust", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "90", :style => "vertical-align: top;"}
  powered with
  %a{:href => "http://www.isokron.com"}
    %img#powIsokron{:alt => "isokron", :src => "http://www.timejust.com/images/isokron.png"}/