%header
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24648624-2']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  %nav
    %ul
      %li
        %a{:href => "http://www.timejust.com/index.php"}
          %img#logoTJ{:alt => "Timejust - Let your calendar guide you!", :src => "http://www.timejust.com/images/logoTJ.png"}/
      %li
        %a{:href => "http://www.timejust.com/index.php"} TIMEJUST
      %li
        %a{:href => "http://www.timejust.com/how.php"} HOW DOES IT WORK?
      %li
        %a{:href => "http://www.timejust.com/faq.php"} FAQ
      %li
        %a{:href => "http://www.timejust.com/beta.php"} BETA
      %li
        %a{:href => "http://www.timejust.com/green.php"} GREEN
      %li
        %a{:href => "http://www.timejust.com/contact.php"} CONTACT