!!! 5
%html
  %head
    %title Timejust - Beta install
    %meta{:name => "keywords", :content => "timejust, calendar, travel and services, Google Calendar, datamining, transport, paris, metro" } 
    %meta{:name => "description", :content => "let your calendar guide you from your appointment to the next! write an event in your calendar, and timejust will bring you travel plans to get there."}
    -# !!!!! WARNING !!!!! Google indexation is refused with the following line!
    %meta{:name => "robots", :content => "noindex"}
    %link{"rel" => "icon", "href" => "http://www.timejust.com/images/favicon.png", "type" => "image/png"}
    %link{"rel" => "apple-touch-icon", "href" => "http://www.timejust.com/images/apple-touch-icon.png", "type" => "image/png"}
    %link{"rel" => "stylesheet", "href" => "http://www.timejust.com/style/site.css", "type" => "text/css", "media" => "screen"}    
    <!--[if lt IE 9]>
    %script{"src" => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
    <![endif]-->
  %body
    = render partial: 'layouts/header'
    - if notice
      %p.notice
        = notice
    - if alert
      %p.alert
        = alert
    = yield
